body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --blue: #6495ed;
  --white: #faf0e6;
  --item : #181818;
  --itemHover : #161616 ;
  --panels : #121212;
  --backGround : #282828;
  --btnColor : #404040;
  --normalWhite : #ffffff;
  --error: #ff0000;
  --notifi : #808080;
}